template(name="ooInput")
  div(oo-Form-Item="{{oo}} {{noticeStatus}} {{charLimitStatus}} {{updateStatus}}")
    label(for="{{inputId}}") {{label}}
      span.updateStatus {{updateMessage}}
    if multiline
      textarea.js-textarea(id="{{inputId}}" placeholder="{{placeholder}}" maxlength="{{#if forceCharLimit}} {{charLimit}} {{/if}}" autoresize="{{autoResize}}" style="height:{{minHeight}}px") {{value}}
    else
      input(type="{{type}}" placeholder="{{placeholder}}" id="{{inputId}}" value="{{value}}" maxlength="{{#if forceCharLimit}} {{charLimit}} {{/if}}")
    .status
      .notice {{noticeMessage}}
      if charLimit
        .limit {{charCount}} / {{charLimit}}

template(name="ooAutoInsertInput")
  input.js-autoInsertInput(oo="classic sharp flex:1" type="text" placeholder="{{placeholder}}")
  button.js-addNewLocation(btn="tiny action push-left push-right raised") {{btnName}}

template(name="ooFormWrapper")
  div.oo-form-holder(oo-Color="back:white")
    div(oo-Form-Group)
      form(id="{{formId}}")
        +Template.contentBlock

template(name="ooTextarea")
  div(oo-Form-Item="{{oo}} {{noticeStatus}} {{charLimitStatus}} {{updateStatus}}")
    label(for="{{inputId}}") {{label}}
      span.updateStatus {{updateMessage}}
    textarea.js-textarea(id="{{inputId}}" rows="{{rows}}" placeholder="{{placeholder}}" maxlength="{{#if charLimit}} {{charLimit}} {{/if}}" autoresize) {{fieldValue}}
    .status
      .notice {{noticeMessage}}
      if charLimit
        .limit {{charCount}} / {{charLimit}}

template(name="ooToggle")
  div(item=" {{itemStyle}}" oo-Color="{{ooItemTheme}}")
    div(item-title="") {{label}}
    label(toggle="{{ooToggleStyle}}")
      input(type="checkbox" checked="{{valueHelper}}" id="{{inputId}}")
      .track
        .handle

template(name="ooFormButton")
  button(btn="{{btn}}" formType="{{formType}}" formId="{{formId}}" collection="{{collection}}" docId="{{docId}}" ) {{btnName}}

template(name="ooCheckmark")
  if isChecked
    button.js-unCheck(btn="small circle action push:top:1.3")
      i.ico-checkmark
  else
    button.js-check(btn="small circle neutral-light push:top:1.3")
      i.ico-checkmark

//- dianaId="{{dianaId}}" collection="{{collection}}" docId="{{docId}}" fieldValue="{{fieldValue}}" fieldName="{{fieldName}}" title="{{title}}"
template(name="ooItemDesription")
  div(item="inside-form no-bottom border:solid" oo-Color="")
    div(item-title="") {{title}}
    button.js-openFroalaEditor(btn="small action raised") Edit
  if fieldValue
    .cms-desc-preview.markdown-component-area(oo-Color="back:white") {{{fieldValue}}}
//- picture="{{picture}}" collection="{{collection}}" docId="{{docId}}" uploadType="{{uploadType}}"
template(name="ooItemPicture")
  .cms-editor-picture-wrapper()
    if picture
      img.cms-editor-picture(src=picture)
    else
      button(btn="circle neutral large" disabled)
        i.ico-user
    +uploadCare docId=docId collection=collection uploadType=uploadType fieldName=fieldName

template(name="ooPicture2Uri")
  .cms-editor-picture-wrapper()
    if picture
      img.cms-editor-picture(src="{{imageHelper}}")
    else
      button(btn="neutral large" disabled)
        i.ico-user
    div(item="inside-form" oo-Color="")
      button(btn="small action raised")
        label(for="{{inputId}}")
          if picture
            | Change
          else
            | Upload
        input(id="{{inputId}}" style="display:none;" type="file")

//- selectColor, selectName, collection, docId, activeIndex, templateName, projectId
template(name="ooSelect")
  div(item="inside-form no-edge:right rounded push:bottom" class="{{selectColor}} text-punch")
    div(item-title="medium uppercase push" oo-Color="text:clear") {{selectName}}
    unless disableBtn
      button.js-openSelect(btn="small action raised") {{#if btnName}} {{btnName}} {{else}} Change {{/if}}


template(name="ooMultiSelect")
  +ooMultiSelectButton
  if innner
    +each selectData
      div(class="{{helperClass}}")
        +Template.dynamic template=templateName
  else
    +each selectData
      +Template.dynamic template=templateName

template(name="ooMultiSelectButton")
  div(item="inside-form no-bottom border:solid" oo-Color="")
    div(item-title="") {{btnTitle}}
    button.js-openSelectModal(btn="small action raised") {{btnName}}


//- inline, btnName
template(name="ooMultiSelectFamous")
  +Surface size='[undefined,true]' template='ooMultiSelectButton'
  if innner
    +SequentialLayout
      +famousEach selectData
        +Surface size='[undefined,true]' template=templateName class="{{helperClass}}"
  else
    +famousEach selectData
      +Surface size='[undefined,true]' template=templateName class="{{helperClass}}"


template(name="ooMonthSlider")
  .ooMonth-slider
    if firstItem
      button(btn="block-v transparent" oo-Color="text:neutral-light" disabled)
        i.ico-chevron-left
    else
      button.js-goToPreviuos(btn="block-v transparent" oo-Color="text:neutral-dim")
        i.ico-chevron-left
    .title {{currentValue}}
    if lastItem
      button(btn="block-v transparent" oo-Color="text:neutral-light" disabled)
        i.ico-chevron-right
    else
      button.js-goToNext(btn="block-v transparent" oo-Color="text:neutral-dim")
        i.ico-chevron-right
